<div class="jumbotron top-page">
  <div class="container">

    <div class="top-title">
      <h1 class="text-black text-center">
        Inspigram
      </h1>
    </div>
    
    <div class="top-authentication text-center">
      <div class="top-authentication__sign-in-btn m-3">
        <%= link_to "Googleでログイン", "#", class: "btn text-white" %>
      </div>
      <div class="top-authentication__sign-in-guest m-3">
        <%= link_to "ゲストとして開始", "#", class: "btn text-white" %>
      </div>
    </div>

  </div>
</div>