<% content_for(:title, 'Top') %>

<div class="top-page">
  <%= render 'shared/navbar' %>

  <div class="container-fluid">
    <div class="top-content">

      <% if current_user.nil? %> <!-- 未ログインでは、アプリの説明を入れる -->
        <div class="introduction-for-guest text-center">
          <h1 class="mt-3 guest-top-title">Inspigram<h1>
          <h2 class="mt-3 guest-subtitle">落書きのアイデアを直感的に掴もう</h2>
          <p class="guest-intro">スワイプで好きな絵を直感的に集められます。<br>
                      あなたの絵でインスピレーションを届けることもできます。<br>
                      さあ、始めましょう。<br>
                      それとも
                      <%= link_to top_guest_path, class: 'guest-index-link', 'data-turbolinks': false do %>
                        <button type="button" class="btn btn-info guest-index-button">一覧</button>
                      <% end %>
                      でみんなの絵を見てみる？
          </p>
        </div>
      <% else %> <!-- Hot List -->
      
        <div class="top-title">
          <h1 class="text-black text-center">
            Inspigram
          </h1>
        </div>

        <div class="mt-3 hot-list-box">

          <div class="fire">
            <div class="fire-left">
              <div class="main-fire"></div>
              <div class="particle-fire"></div>
            </div>
            <div class="fire-main">
              <div class="main-fire"></div>
              <div class="particle-fire"></div>
            </div>
            <div class="fire-right">
              <div class="main-fire"></div>
              <div class="particle-fire"></div>
            </div>
            <div class="fire-bottom">
              <div class="main-fire"></div>
            </div>
          </div>

          <div class="hot-list text-center">Hot List</div>
        </div>
  
        <div class="slider">
          <% @boards.each do |board| %>
            <p><%= image_tag board.board_image.url, class: 'slider-item rounded' %></p>
          <% end %>
        </div>

      <% end %>
    </div>
    
    <div class="top-authentication text-center mt-3">
      <% if current_user.nil? %>
        <div class="top-authentication__sign-in-btn mt-3">
          <%= link_to "Start with Google", "/auth/google_oauth2", method: :post, class: "btn text-white" %>
        </div>
        <!-- div class="top-authentication__sign-in-guest m-3" -->
          <!-- %= link_to "ゲストとして開始", "#", class: "btn text-white bg-dark" % -->
        <!-- /div -->

      <% end %>
    </div>
  </div>
</div>

