<div class="jumbotron top-page">
  <div class="container">
    <%= render 'shared/navbar' %> 

    <div class="top-title">
      <h1 class="text-black text-center">
        Inspigram
      </h1>
    </div>
    
    <div class="top-authentication text-center">
      <% if current_user.nil? %>
        <div class="top-authentication__sign-in-btn m-3">
          <%= link_to "Googleでログイン", "/auth/google_oauth2", method: :post, class: "btn text-white" %>
        </div>
        <div class="top-authentication__sign-in-guest m-3">
          <%= link_to "ゲストとして開始", "#", class: "btn text-white" %>
        </div>
      <% end %>
    </div>

  </div>
</div>