.my-board-index-page {
  margin: auto 0;
  height: 120%;
  background-color: #343a40;
}

.trash-icon {
  color: #4682b4;
}

.my-board {
  width: 340px;
  height: 340px;
}

.my-board-box {
  position: relative;
}
  
.trash-box {
  position: absolute;
  top: 85%;
  left: 55%;
}

.no-board {
  letter-spacing: 0.12em;
}

