.my-board-box {
  position: relative;
}

.my-icon-star {
  position: absolute;
  top: 85%;
  left: 5%;
  padding: 0 5px;
}

.my-icon-trash {
  position: absolute;
  top: 85%;
  left: 80%;
  padding: 0 5px;
}

