.board-new-page{
  margin: auto 0;
  height: 100%;
}

.new-object-fit {
  width: 340px; height: 340px;
  object-fit: contain;
}

.create-button {
  background: #1ABC9C;
  border-radius: 10px;
  padding: 4px;
  white-space: nowrap;
  padding: 10px 20px;
}