<div class="like-board-index-page">
  <%= render 'shared/navbar' %>
  <div class="container-fluid">

  <div class="row mt-3">
    <% @like_boards.each do |board| %>
      <div class="col-sm-3">
        <div class="card board-box">
          <%= image_tag board.board_image.url, class: 'image-fluid' %>
          <div class="icon-like">
            <i class="far fa-star fa-2x"></i>
            <%= liked_count_of(board) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

    <p class="text-center mt-3">画像は以上です</p>
  </div>
</div>