<nav class="navbar navbar-light">
  <%= link_to root_path, class: 'navbar-brand text-white' do %>
    Inspigram
  <% end %>
  
  <% if current_user %>
    <div class="navbar__sign-out-btn">
      <%= link_to "ログアウト", log_out_path, class: "btn my-2 my-sm-0 bg-light text-top-color" %>
    </div>
  <% end %>
</nav>