<div class="terms-and-contacts fixed-bottom text-center">
  <%= link_to '利用規約', page_path('terms'), class: 'to-terms mt-3 mr-3' %>
  <%= link_to 'お問い合わせ', new_contacts_path, class: 'to-contacts' %>
</div>
