<div class="container">
  <div class="introduction" style="letter-spacing: 1.2px;">
    <div class="what-is-inspigram">
      <h2>Inspigramとは？</h2>
      <p>
        描きたい絵がない、、。<br>
        そんな時にインスピレーションをドサドサ獲得するためのアプリです！
      </p>
    </div>

    <div class="how-to-use-inspigram">
      <h2>使い方</h2>
      <ol>
        <li>Start with Googleにて、利用登録。</li>
        <div></div>
        <li>メニュー：Collectionにてスワイプしながらお気に入りの絵を選んでください</li>
        <div></div>
        <li>メニュー：My Collectionで、お気に入りを確認できます。</li>
        <div></div>
        <li>メニュー：Createでは、投稿ができます。
      </ol>
    </div>
  </div>
</div>