<div class="terms">
  <div class="container">
    <h1>利用規約</h1>
    <p>
      この利用規約（以下，「本規約」といいます。）は，＿＿＿＿＿（以下，「本サービス作者」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
    </p>

    <h2>第1条（適用）</h2>
    <ol>
      <li>本規約は，ユーザーと本サービス作者との間の本サービスの利用に関わる一切の関係に適用されるものとします。</li>
      <li>本サービス作者は本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。</li> 
      <li>本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。</li>
    </ol>

    <h2>第2条（利用登録）</h2>
    <ol>
      <li>本サービスにおいては，登録希望者が本規約に同意の上，本サービスの定める方法（Google認証）によって利用登録を申請し，本サービス作者がこれを承認することによって，利用登録が完了するものとします。</li>
    </ol>

    <h2>第3条 (禁止事項)</h2>
    <p>ユーザーは，本サービスの利用にあたり，以下の行為をしてはなりません。</p>
    <ol>
      <li>法令または公序良俗に違反する行為</li>
      <li>犯罪行為に関連する行為</li>
      <li>本サービス，ほかのユーザー，またはその他第三者のサーバーまたはネットワークの機能を破壊したり，妨害したりする行為</li>
      <li>本サービスによって得られた情報を商業的に利用する行為</li>
      <li>本サービスの運営を妨害するおそれのある行為</li>
      <li>不正アクセスをし，またはこれを試みる行為</li>
      <li>他のユーザーに関する個人情報等を収集または蓄積する行為</li>
      <li>不正な目的を持って本サービスを利用する行為</li>
      <li>本サービスの他のユーザーまたはその他の第三者に不利益，損害，不快感を与える行為/li>
      <li>本サービス作者が許諾しない本サービス上での宣伝，広告，勧誘，または営業行為</li>
      <li>本サービスに関連して，反社会的勢力に対して直接または間接に利益を供与する行為</li>
      <li>その他，本サービス作者が不適切と判断する行為</li>
    </ol>

    <h2>第4条（利用制限および登録抹消)</h2>
    <p>本サービス作者は，ユーザーが以下のいずれかに該当する場合には，事前の通知なく，ユーザーに対して，本サービスの全部もしくは一部の利用を制限し，またはユーザーとしての登録を抹消することができるものとします。</p>
    <ol>
      <li>本規約のいずれかの条項に違反した場合</li>
      <li>その他，本サービス作者が本サービスの利用を適当でないと判断した場合</li>
    </ol>

    <h2>第5条（保証の否認および免責事項）</h2>
    <ol>
      <li>本サービス作者は，本サービスに事実上または法律上の瑕疵（安全性，信頼性，正確性，完全性，有効性，特定の目的への適合性，セキュリティなどに関する欠陥，エラーやバグ，権利侵害などを含みます。）がないことを明示的にも黙示的にも保証しておりません。</li>
      <li>本サービス作者は，本サービスに起因してユーザーに生じたあらゆる損害について、当社の故意又は重過失による場合を除き、一切の責任を負いません。</li>
    </ol>

    <h2>第6条（個人情報の取扱い）</h2>
    <p>本サービスが個人情報(メールアドレス・名前等)を収集・利用する目的は，以下のとおりです。</p>
    <ol>
      <li>当社サービスの提供・運営のため</li>
      <li>ユーザーからのお問い合わせに回答するため（本人確認を行うことを含む）</li>
      <li>利用規約に違反したユーザーや，不正・不当な目的でサービスを利用しようとするユーザーの特定をし，ご利用をお断りするため</li>
      <li>上記の利用目的に付随する目的</li>
    </ol>
  </div>
</div>

