<% content_for(:title, 'Draw') %>
<div class="draw-page">
  <%= render "shared/navbar" %>

  <div class="cantainer">
    <div class="row">
      <p class="mt-3 text-center">
        <canvas class="drawPicture" id="js-drawPicture"></canvas>
      </p>
      <p class="mt-3 mx-auto">
        <button id= "js-pictureUpload">アップロード</button>
      </p>
    </div>
  </div>
</div>