<div class="draw-page">
  <div class="cantainer">
    <div class="row">
      <canvas class="drawPicture" id="js-drawPicture"></canvas>
      <button id= "js-pictureUpload" class="mt-3 mx-auto">アップロード</button>
    </div>
  </div>
</div>