<div class="my-board-index-page">
  <%= render "shared/navbar" %>

  <div class="my-cards">
    <% @boards.each do |board| %>
      <div class="my-card bg-dark" id="<% board.id %>">
       
        <%= image_tag board.board_image.url, class: 'my-board-img img-fluid rounded d-block mx-auto my-board' %>
       

        <%= link_to board_path(board), class: 'trash', method: :delete, data: { confirm: "画像を削除しますか？" } do %>
          <i class="far fa-trash-alt fa-2x trash-icon"></i>
        <% end %>
        
      </div>
    <% end %>

    <div class="no-board">画像は以上です</div>
  </div>
</div>