<div class="my-board-index-page">
  <%= render "shared/navbar" %>

  <div class="my--cards">
    <% @boards.each do |board| %>
      <div class="my--card card-body bg-dark image-icon-box" id="<% board.id %>">
        <%= image_tag board.board_image.url, class: 'my-board-img img-fluid rounded' %>

        <%= link_to '#', class: 'trash' do %>
          <i class="far fa-trash-alt fa-2x trash-icon"></i>
        <% end %>
        
      </div>
    <% end %>

    <div class="no-board">画像は以上です</div>
  </div>
</div>