<div class="board-new-page">
  <div class="board-form">
    <%= form_with model: @board, local: true do |f| %>
      <div class="form-group">
        <%= f.label '画像' %>
        <%= f.file_field :board_image, class: 'form-control-file' %>
      </div>
    <% end %>
  </div>
</div>