.top-title {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 2px;
  white-space: nowrap;
  font: italic small-caps bold 16px/2 cursive;
}

.top-authentication {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%,-50%);
  &__sign-in-btn {
    background: #FD3378;
    border-radius: 30px;
    padding: 4px;
    white-space: nowrap; 
  }
  &__sign-in-guest {
    border-radius: 30px;
    padding: 4px;
    white-space: nowrap;
    border-style: solid;
    border-color: #fff;
    border-width: 2px;
  }
}