.navbar {
  background-color: #34495E;
  color: white;
}

.navbar-toggler .navbar-toggler-icon {
  //3本線を白色に
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.nav-link {
  color: white;
}


.app-title {
  letter-spacing: 0.12em;
  color: white;
}